footer.footer
    .container.hidden-mobile
        h2.footer__caption Новости культуры
        include blocks/nav.pug
    .container
        .footer__text-block
            p.footer__text &copy;2018 Новости культуры. Все права защищены.
