header.header
    .container.container--padding-mobile-off
        h1.header__caption Новости культуры
        include blocks/nav.pug
        button(class="header__btn hamburger" type="button")
            span.hamburger__bar.hamburger__bar--bar1
            span.hamburger__bar.hamburger__bar--bar2
            span.hamburger__bar.hamburger__bar--bar3
            span.hamburger__bar.hamburger__bar--bar4
