.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 47px;

    font-family: $raleway;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $white;

    background: $black-dark-opacity;
    border: 2px solid $primary-color;

    & svg {
        fill: $white;
    }
}

.article__link {
    &:hover .btn,
    &:focus .btn,
    &:active .btn {
        cursor: pointer;

        background: $primary-color;
    }
}
