.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 1200px;
    max-width: 100%;

    &--main-slider {
        padding: 0;
        width: 1440px;
    }
}

@media(max-width:$tablet-width) {
    .container--padding-mobile-off {
        padding: 0;
    }
}
