.header {
    position: relative;
    padding-top: 62px;
    padding-bottom: 46px;
}

.header__caption {
    margin: 0;
    margin-bottom: 46px;

    font-family: $playfairdisplay;
    font-weight: 900;
    font-size: 35px;
    line-height: 1.34;
    letter-spacing: 1px;
    color: $black;
    text-align: center;

    &--inactive {
        visibility: hidden;
    }
}

.header__btn {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0;

    background-color: $primary-color;
    border: none;

    &--active {
        right: 0;
        left: auto;
        // background-color: transparent;
        // transition: all 1s $transition-function;
    }
}

@media(max-width:$tablet-width) {
    .header__btn {
        display: block;
    }
}
