.slider-news {
    margin-top: 48px;
    position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
}

.slider-news__wrapper {
    align-items: center;
    min-height: 136px;
}

.slider-news__item {
    box-sizing: border-box;
    padding-top: 27px;
    padding-bottom: 28px;
    min-height: 107px;

    background-repeat: no-repeat;
    background-size: cover;

    &:hover,
    &:focus,
    &:active {
        & .slider-news__caption {
            display: block;
        }

        & .slider-news__btn {
            display: flex;
        }
    }
}

.slider-news__caption {
    margin: 0;
    display: none;
    margin-bottom: 15px;

    font-family: $raleway;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
}

.slider-news__btn {
    margin: 0 auto;
    display: none;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        background-color: $primary-color;
    }
}

.slider-news__btn-slide {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 44px;
    height: 44px;

    background-color: $white;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

    & span {
        display: block;
        width: 0;
        height: 0;
        border: 0;
        border-right: 9px solid #A8A8A8;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
    }

    &:last-child {
        left: auto;
        right: -22px;

        & span {
            transform: rotate(180deg);
        }
    }

    &:active,
    &:focus,
    &:hover {
        cursor: pointer;

        & span {
            border-color: $primary-color;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

@media(max-width:1250px) {
    .slider-news__btn-slide {
        left: 0;

        &:last-child {
            left: auto;
            right: 0;
        }
    }
}
