$playfairdisplay: "PlayfairDisplay", "Arial", serif;
$raleway: "Raleway", "Arial", sans-serif;
$avenirnext: "AvenirNext", "Arial", sans-serif;

$black: #000000;
$black-ultra-light: #E5E5E5;
$white: #ffffff;
$primary-color: #FF7931;
$secondary-color: #F9F9FC;
$black-dark-opacity:rgba(0, 0, 0, 0.7);
$black-ultra-light-opacity:rgba(0, 0, 0, 0.3);
$black-opacity:rgba(255, 251, 251, 0.3);
$black-middle-opacity: rgba(72, 73, 77, 0.5);
$black-light-opacity:rgba(0, 0, 0, 0.2);

$transition-time: 0.2s;
$transition-function: ease-in;

$mobile-width: 320px;
$tablet-width: 900px;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
