section.article
    a.article__link(href="#")
        article.article__block.article__block--ball
            p.article__caption Воздушные<br>шары
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#")
        article.article__block.article__block--photo
            p.article__caption.article__caption--white Необычная<br>фотосессия
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#")
        article.article__block.article__block--bird
            p.article__caption.article__caption--white Выставка<br>птиц
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
