section.article
    a.article__link(href="#")
        article.article__block.article__block--ball
            p.article__caption Воздушные шары
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#")
        article.article__block.article__block--photo
            p.article__caption.article__caption--white Необычная фотосессия
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#")
        article.article__block.article__block--bird
            p.article__caption.article__caption--white Выставка птиц
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
