section.article
    h2.visually-hidden Заголовок новостей
    a.article__link(href="#" aria-label="ссылка на новость")
        article.article__block.article__block--ball
            h3.visually-hidden Заголовок новости
            p.article__caption Воздушные<br>шары
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#" aria-label="ссылка на новость")
        article.article__block.article__block--photo
            h3.visually-hidden Заголовок новости
            p.article__caption.article__caption--white Необычная<br>фотосессия
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
    a.article__link(href="#" aria-label="ссылка на новость")
        article.article__block.article__block--bird
            h3.visually-hidden Заголовок новости
            p.article__caption.article__caption--white Выставка<br>птиц
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
