.container
    .main-content
        .main-content__reviews-news
            include news.pug
            include reviews.pug
            include number.pug
            include one-article.pug
        include slider-news.pug
        include articles.pug

