nav.nav.nav--inactive.js-nav-header
    ul.nav__list
        li.nav__item
            a(href="#" class="nav__link") Новости
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Обзоры
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Музыка
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Архитектура
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Кино
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Театр
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Литература
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Религия
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")
        li.nav__item
            a(href="#" class="nav__link") Живопись
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow-left")



