section.news
    h2.news__caption.h2 Новости
    .news__row
        .news__column
            p.news__column-caption
                |Новости культуры России и всего мира
            p.news__column-text
                |В минувшие выходные в Москве на фестивале «Оберег»
                |вручили первую премию Russian World Music Awards
        ul.news__list
            li.news__item
                a.news__link(href="#" aria-label="ссылка на новость")
                    article.news__article
                        h3.visually-hidden Заголовок новости
                        .news__img-block
                            picture
                                source(srcset="img/news-2.webp 1x, img/news-2@2x.webp 2x" type="image/webp")
                                img(src="img/news-2.jpg"
                                srcset="img/news-2@2x.jpg 2x" alt="Новость" width="127" height="271")
                        .news__article-column
                            .news__article-caption
                                |Открытие нового памятника Евгению Леонову
                            p.news__text
                                |10 сентября в 15:00 был открыт памятник писателю
            li.news__item
                a.news__link.news__link--active(href="#" aria-label="ссылка на новость")
                    article.news__article
                        h3.visually-hidden Заголовок новости
                        .news__img-block
                            picture
                                source(srcset="img/news-3.webp 1x, img/news-3@2x.webp 2x" type="image/webp")
                                img(src="img/news-3.jpg"
                                srcset="img/news-3@2x.jpg 2x" alt="Новость" width="312" height="168")
                        .news__article-column
                            .news__article-caption
                                |Беседы с писателями
                            p.news__text
                                |Русские писатели говорят о важности искусства
            li.news__item
                a.news__link(href="#" aria-label="ссылка на новость")
                    article.news__article
                        h3.visually-hidden Заголовок новости
                        .news__img-block
                            picture
                                source(srcset="img/news-4.webp 1x, img/news-4@2x.webp 2x" type="image/webp")
                                img(src="img/news-4.jpg"
                                srcset="img/news-4@2x.jpg 2x" alt="Новость" width="192" height="91")
                        .news__article-column
                            .news__article-caption
                                |День и ночь св. Патрика: встреча старых друзей
                            p.news__text
                                |Не Джойсом единым живет Ирландия!


