.number
    a(href="#").number__btn
    .number__list
        a(href="#").number__item.number__item--active 1
        a(href="#").number__item 2
        a(href="#").number__item 3
        a(href="#").number__item 4
        a(href="#").number__item 5
        a(href="#").number__item.number__item--point ...
        a(href="#").number__item 35
    a(href="#").number__btn
