.number
    a(href="#" aria-label="страница новостей назад").number__btn
    .number__list
        a(href="#").number__item.number__item--active 1
        a(href="#").number__item 2
        a(href="#").number__item 3
        a(href="#").number__item.number__item--mobile-hover 4
        a(href="#").number__item.number__item--mobile-hover 5
        a(href="#").number__item.number__item--point ...
        a(href="#").number__item 35
    a(href="#" aria-label="страница новостей вперед").number__btn
