section.article
    h2.visually-hidden Заголовок новостей
    a.article__link.article__link--ballet(href="#" aria-label="ссылка на новость")
        article.article__block.article__block--ballet
            h3.visually-hidden Заголовок новости
            p.article__caption.article__caption--ballet Ох, уж этот балет
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
