section.article
    a.article__link(href="#")
        article.article__block.article__block--ballet
            p.article__caption.article__caption--ballet Ох, уж этот балет
            span.article__btn.btn
                |Смотреть
                svg(width="16" height="16")
                    use(xlink:href="#icon-arrow")
