section.reviews
    h2.reviews__caption.h2 Обзоры
    ul.reviews__list
        li.reviews__item
            a(href="").reviews__link
                article.reviews__article
                    .reviews__img-block
                        picture
                            source(srcset="img/reviews-1.webp 1x, img/reviews-1@2x.webp 2x" type="image/webp")
                            img(class="main-scale__img" src="img/reviews-1.jpg"
                            srcset="img/reviews-1@2x.jpg 2x" alt="Обзор" width="370" height="455")
                        ul.reviews__social-list
                            li.reviews__social-item
                                svg(width="22" height="14")
                                    use(xlink:href="#icon-eay")
                                span 3
                            li.reviews__social-item
                                svg(width="18" height="16")
                                    use(xlink:href="#icon-comment")
                                span 4
                    p.reviews__article-caption «Шальные годы» Монпарнаса
                    p.reviews__article-text
                        |В Музее изобразительных искусств имени Пушкина
                        |с 29 сентября по 29 ноября проходит выставка
                        |«Шальные годы Монпарнаса»
        li.reviews__item
            a(href="").reviews__link.reviews__link--active
                article.reviews__article
                    .reviews__img-block
                        picture
                            source(srcset="img/reviews-2.webp 1x, img/reviews-2@2x.webp 2x" type="image/webp")
                            img(class="main-scale__img" src="img/reviews-2.jpg"
                            srcset="img/reviews-2@2x.jpg 2x" alt="Обзор" width="371" height="203")
                        ul.reviews__social-list
                            li.reviews__social-item
                                svg(width="22" height="14")
                                    use(xlink:href="#icon-eay")
                                span 3
                            li.reviews__social-item
                                svg(width="18" height="16")
                                    use(xlink:href="#icon-comment")
                                span 4
                    p.reviews__article-caption Анатомия за 30 секунд
                    p.reviews__article-text
                        |Сейчас, когда мир открыт нараспашку
                        |для человека и его познавательных изысканий,
                        |интерес к научно-популярной литературе заметно вырос
        li.reviews__item
            a(href="").reviews__link
                article.reviews__article
                    .reviews__img-block
                        picture
                            source(srcset="img/reviews-3.webp 1x, img/reviews-3@2x.webp 2x" type="image/webp")
                            img(class="main-scale__img" src="img/reviews-3.jpg"
                            srcset="img/reviews3@2x.jpg 2x" alt="Обзор" width="374" height="303")
                        ul.reviews__social-list
                            li.reviews__social-item
                                svg(width="22" height="14")
                                    use(xlink:href="#icon-eay")
                                span 3
                            li.reviews__social-item
                                svg(width="18" height="16")
                                    use(xlink:href="#icon-comment")
                                span 4
                    p.reviews__article-caption Русские балетные сезоны
                    p.reviews__article-text
                        |В Новом Иерусалиме стартовал необычный
                        |культурно- развлекательный спектакль, который покажут в новом театре
        li.reviews__item
            a(href="").reviews__link
                article.reviews__article
                    .reviews__img-block
                        picture
                            source(srcset="img/reviews-4.webp 1x, img/reviews-4@2x.webp 2x" type="image/webp")
                            img(class="main-scale__img" src="img/reviews-4.jpg"
                            srcset="img/reviews4@2x.jpg 2x" alt="Обзор" width="374" height="303")
                        ul.reviews__social-list
                            li.reviews__social-item
                                svg(width="22" height="14")
                                    use(xlink:href="#icon-eay")
                                span 3
                            li.reviews__social-item
                                svg(width="18" height="16")
                                    use(xlink:href="#icon-comment")
                                span 4
                    p.reviews__article-caption Сферические чудаки
                    p.reviews__article-text
                        |Корреспондентам «Культурного обозревателя»
                        |посчастливилось побывать в театре «Сфера» на премьере
                        |спектакля «Чудаки и зануды
