section.slider-news.slider
    h2.visually-hidden главный слайдер
    .slider-news__container.swiper-container
        .slider-news__wrapper.swiper-wrapper
            .slider-news__item.swiper-slide(style="background-image: url('img/slider-1.webp');")
                p.slider-news__caption КАК все успевать
                a.slider-news__btn.btn(href="#") Подробнее
            .slider-news__item.swiper-slide(style="background-image: url('img/slider-2.webp');")
                p.slider-news__caption КАК все успевать
                a.slider-news__btn.btn(href="#") Подробнее
            .slider-news__item.swiper-slide(style="background-image: url('img/slider-3.webp');")
                p.slider-news__caption КАК все успевать
                a.slider-news__btn.btn(href="#") Подробнее
            .slider-news__item.swiper-slide(style="background-image: url('img/slider-4.webp');")
                p.slider-news__caption КАК все успевать
                a.slider-news__btn.btn(href="#") Подробнее
    button(type="button").slider-news__btn-slide.js-btn-next
        span
    button(type="button").slider-news__btn-slide.js-btn-prev
        span
    .slider-news__pagination.swiper-pagination
